@import url('../../MainCss/MainVariables.css');
.root {
	justify-content: space-evenly;
	font-size: var(--LARGE-FONT);
	margin: 50px 0 50px 0;
}

.headerroot{
	display: none;
}
.productroot{
	margin: 0 100px 0 100px;
	padding : 30px 0 30px 0;
	border-top: 1px solid var(--GREY);
}
.img{
	width: 150px;
	height: 150px;

}
.firstname{
	font-weight: bold;	
	
}


.priceroot{
	font-weight: bold;
	
}
.attritem{
	width: 60px;
	height: 40px;
	border: 1px solid var(--BLACK);
	margin : 0 5px 0 5px;
	font-weight: bold;
}
.attrroot{
	margin-top: 20px;
}



.selected{
	background-color: var(--BLACK);
	color: var(--WHITE);
}

.colorselected{
		border: solid black 3px;

}



.controlbutton{
	background-color: var(--WHITE);
	width: 30px;
	height: 30px;
	font-size: var(--LARGE-FONT);
	font-weight: bold;
	cursor: pointer;
}

.controlbutton:hover{
	background-color: rgba(180 , 180 , 180 , 0.8);
}

.qtyitem{
	font-weight: bold;
}
.total {
	font-weight: bold;
}

.totalprice {
	font-weight: bold;
}


.maincontrol{
	margin-bottom: 20px;
}
.viewbag {
	display: none;
	
}
.checkout {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background-color: var(--GREEN);
	padding: 10px;
	cursor: pointer;
	color: var(--WHITE);
	width: 250px;
}

@media (max-width : 800px) {



.productroot{
	margin : 0;
	margin-left: 20px;
	padding : 30px 0 30px 0;
	border-top: 1px solid var(--GREY);
}
.img{
	width: 100px;
	height: 100px;

}
.firstname{
	font-weight: bold;	
	
}


.priceroot{
	font-weight: bold;
	
}
.attritem{
	width: 30px;
	height: 20px;
	border: 1px solid var(--BLACK);
	margin : 0 5px 0 5px;
	font-weight: bold;
	font-size: 10px;
}
.attrroot{
	margin-top: 20px;
}



.selected{
	background-color: var(--BLACK);
	color: var(--WHITE);
}

.colorselected{
		border: solid black 3px;

}



.controlbutton{
	background-color: var(--WHITE);
	width: 30px;
	height: 30px;
	font-size: var(--LARGE-FONT);
	font-weight: bold;
	cursor: pointer;
}

.controlbutton:hover{
	background-color: rgba(180 , 180 , 180 , 0.8);
}

.qtyitem{
	font-weight: bold;
}
.total {
	font-weight: bold;
}

.totalprice {
	font-weight: bold;
}



.checkout {
	
}
}